* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ffffff;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #1f2937;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* HOME */
.home {
  height: 90vh;
  background: linear-gradient(to right, #111827, #1f2937);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home h1 {
  font-size: 45px;
}

.home span {
  color: #38bdf8;
}

.home p {
  margin: 15px 0;
  font-size: 18px;
}

.home button {
  padding: 12px 30px;
  border: none;
  background: #38bdf8;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
  text-align: center;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.gray {
  background: #f3f4f6;
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border-radius: 10px;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.skill {
  padding: 15px;
  background: #e5e7eb;
  border-radius: 8px;
  font-weight: 500;
}

/* FOOTER */
footer {
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
  .home h1 {
    font-size: 32px;
  }
}